@import "primeicons/primeicons.css";
body, #app, p{
  margin: 0;
}

body, #app {
  background-color: rgb(0, 3, 29);
  height: 100vh;
  width: 100%;
}

#app {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px;
}